@page "/programaciones/edit/{Id:int}"
@using Academic.Shared.Entities;
@inject NavigationManager navigationManager
@inject IRepository repository
@inject SweetAlertService swal

<h3>Editar Programacion</h3>

@if (Programacion is null)
{
    <div class="align-items-center">
        <img src=" https://img.pikbest.com/png-images/20190918/cartoon-snail-loading-loading-gif-animation_2734139.png!bw700 " />
    </div>
}
else
{
    <ProgramacionForm @ref="ProgramacionForm" Programacion="Programacion" OnSubmit="Edit" ReturnAction="Return" />
}

@code {
    private Programacion? Programacion;
    private ProgramacionForm? programacionForm;

    [Parameter]
    public int Id { get; set; }

    protected override async Task OnInitializedAsync()
    {
        var responseHTTP = await repository.Get<Programacion>($"api/programaciones/{Id}");

        if (responseHTTP.Error)
        {
            if (responseHTTP.HttpResponseMessage.StatusCode == System.Net.HttpStatusCode.NotFound)
            {
                navigationManager.NavigateTo("programaciones");
            }
            else
            {
                var messageError = await responseHTTP.GetErrorMessageAsync();
                await swal.FireAsync("Error", messageError, SweetAlertIcon.Error);
            }
        }
        else
        {
            Programacion = responseHTTP.Response;
        }
    }

    private async Task Edit()
    {
        var responseHTTP = await repository.Put("api/programaciones", programacion);

        if (responseHTTP.Error)
        {
            var mensajeError = await responseHTTP.GetErrorMessageAsync();
            await swal.FireAsync("Error", mensajeError, SweetAlertIcon.Error);
        }
        else
        {
            ProgramacionForm!.FormPostedSuccessfully = true;
            navigationManager.NavigateTo("programaciones");
        }
    }

    private void Return()
    {
        navigationManager.NavigateTo("programaciones");
    }
}

